/*
*** Simple-Grid-System
*** ver. 1.3.0
*** (C) LeonSzewski 2018
*/

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

.container-big, .container-med, .container-full {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container-big {
    width: 1180px;
}

.container-med {
    width: 980px;
}

.container-full {
    width: 100%;
}

.col-1 {
    width: 100%;
    margin: 0 auto;
}

.xs__col-2 {
    width: calc(1/2 * 100%);
    margin: 0 auto;
}

@media (min-width: 576px) {
    .s__col-4 {
        width: calc(1/4 * 100%);
        margin: 0 auto;
    }

    .s__col-3 {
        width: calc(1/3 * 100%);
        margin: 0 auto;
    }

    .s__col-2 {
        width: calc(1/2 * 100%);
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .m__col-4 {
        width: calc(1/4 * 100%);
        margin: 0 auto;
    }

    .m__col-3 {
        width: calc(1/3 * 100%);
        margin: 0 auto;
    }

    .m__col-2 {
        width: calc(1/2 * 100%);
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .l__col-4 {
        width: calc(1/4 * 100%);
        margin: 0 auto;
    }

    .l__col-3 {
        width: calc(1/3 * 100%);
        margin: 0 auto;
    }

    .l__col-2 {
        width: calc(1/2 * 100%);
        margin: 0 auto;
    }
}
