/*
*** Simple-Grid-System
*** ver. 1.5.2
*** (C) LeonSzewski 2018
*/

/*

    font-size: 62.5%;  !* 1rem = 10px *!
    font-size: 125%;    !* 1rem = 20px *!

*/

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: 2rem;
}

.box-big, .box-med, .box-full, .box {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box-big {
    width: 1180px;
}

.box-med {
    width: 980px;
}

.box-full {
    width: 100%;
}

.xs_1-1 {
    width: calc(12/12 * 100%);
    margin: 0 auto;
}

.xs_1-2 {
    width: calc(6/12 * 100%);
    margin: 0 auto;
}

.column {
    flex-direction: column;
}

@media (min-width: 576px) {
    .s_1-4 {
        width: calc(3/12 * 100%);
        margin: 0 auto;
    }

    .s_1-3 {
        width: calc(4/12 * 100%);
        margin: 0 auto;
    }

    .s_2-3 {
        width: calc(8/12 * 100%);
        margin: 0 auto;
    }

    .s_1-2 {
        width: calc(6/12 * 100%);
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .m_1-4 {
        width: calc(3/12 * 100%);
        margin: 0 auto;
    }

    .m_1-3 {
        width: calc(4/12 * 100%);
        margin: 0 auto;
    }

    .m_2-3 {
        width: calc(8/12 * 100%);
        margin: 0 auto;
    }

    .m_1-2 {
        width: calc(6/12 * 100%);
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .l_1-4 {
        width: calc(3/12 * 100%);
        margin: 0 auto;
    }

    .l_1-3 {
        width: calc(4/12 * 100%);
        margin: 0 auto;
    }

    .l_2-3 {
        width: calc(8/12 * 100%);
        margin: 0 auto;
    }

    .l_1-2 {
        width: calc(6/12 * 100%);
        margin: 0 auto;
    }
}
