/*
*** Simple-Grid-System
*** ver. 1.5.0
*** (C) LeonSzewski 2018
*/

/*

    font-size: 62.5%;  !* 1rem = 10px *!
    font-size: 125%;    !* 1rem = 20px *!

*/

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: 2rem;
}

.container-big, .container-med, .container-full {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container-big {
    width: 1180px;
}

.container-med {
    width: 980px;
}

.container-full {
    width: 100%;
}

.xs__1-1 {
    width: calc(12/12 * 100%);
    margin: 0 auto;
}

.xs__1-2 {
    width: calc(6/12 * 100%);
    margin: 0 auto;
}

.column {
    flex-direction: column;
}

@media (min-width: 576px) {
    .s__1-4 {
        width: calc(3/12 * 100%);
        margin: 0 auto;
    }

    .s__1-3 {
        width: calc(4/12 * 100%);
        margin: 0 auto;
    }

    .s__2-3 {
        width: calc(8/12 * 100%);
        margin: 0 auto;
    }

    .s__1-2 {
        width: calc(6/12 * 100%);
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .m__1-4 {
        width: calc(3/12 * 100%);
        margin: 0 auto;
    }

    .m__1-3 {
        width: calc(4/12 * 100%);
        margin: 0 auto;
    }

    .m__2-3 {
        width: calc(8/12 * 100%);
        margin: 0 auto;
    }

    .m__1-2 {
        width: calc(6/12 * 100%);
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .l__1-4 {
        width: calc(3/12 * 100%);
        margin: 0 auto;
    }

    .l__1-3 {
        width: calc(4/12 * 100%);
        margin: 0 auto;
    }

    .l__2-3 {
        width: calc(8/12 * 100%);
        margin: 0 auto;
    }

    .l__1-2 {
        width: calc(6/12 * 100%);
        margin: 0 auto;
    }
}
